* {
    box-sizing: inherit;
  }
  
  html {
    height: 100%;
    box-sizing: border-box;
  }
  
  body {
    height: 100%;
    font: 1.2em sans-serif;
  }
  
  .wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  
  .page-footer {
    background-color: rgb(75 70 74);
    color: #fff;
    padding: 20px;
  }
  
  .page-body {
    padding: 20px;
  }
  
  .page-body p {
    border: 1px solid grey;
  }

.page-header {
    background: #0288d1;
    color: white;
    padding: 20px;
    position: relative;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
}

header {
    background: #0288d1;
    color: white;
    padding: 20px;
    position: relative;
}

h1 {
    margin: 0;
}

/* Estilos del menu*/
.menu {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 101;
}

.menu-icon {
    font-size: 50px;
    cursor: pointer;
}

.menu-list {
    list-style: none;
    background: white;
    position: absolute;
    top: 40px;
    left: 0;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    padding: 0;
}

.menu-list li {
    border-bottom: 1px solid #ccc;
}

.menu-list li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #0288d1;
}

.menu-list li:hover {
    background: #29b6f6;
}
html {
    height: 100%;
    box-sizing: border-box;
  }

/* Video 
.video-container iframe {
    width: 70%;
    height: 365px;
    border: none;
    margin-top: 10px;
}*/

.video-slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.video-frame {
    width: 600px;
    overflow: hidden;
}

.video-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 3000px; /* 5 videos * 600px */
}

.video-container iframe {
    width: 600px;
    height: 350px;
    border: none;
}
.button-video-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60%;
    margin: auto;
}
.prev, .next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Recursos */
.recursos {
    margin: 20px;
}

.page-footer {
    background: #0288d1;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  