body {
    font-family: Arial, sans-serif;
    background: #b3e5fc;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
h1 {
    color: #00796b;
    margin-top: 10px;
    text-align: center;
  }

.info-panel {
    display: flex;
    justify-content: space-around;
    background: #0288d1;
    color: white;
    padding: 10px;
    font-size: 18px;
}

.game-container {
    display:inline-block;
    align-items: center;
    position: relative;
    width: 33vw;
    height: 85vh;
    overflow: hidden;
    background: linear-gradient(#e1f5fe, #81d4fa);
    border: 2px solid #004d40;
    
}
.left{
    float: left;
    width: 33vw;
    height: 100vh;
}
.right{
    float: right;
    width: 33vw;
    height: 100vh;

}
canvas {
    background-color: #b2dfdb;
    border: 2px solid #004d40;
  }

/* #bucket {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 40px;
    background-image: url(/imagenes/cubeta.png);
    /*background: #795548;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
} */
#bucket {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
    background-image: url('assets/cubeta.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.drop {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    background-image: url('assets/gota.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.dirty {
    background-image: url('assets/gota-sucia.png'); /* Ruta de imagen sucia */
}

/* .drop {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #00bcd4;
    border-radius: 50%;
} */

#game-over {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 10px;
}

.hidden {
    display: none;
}